@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap");
@import "reset.css";
@import "variables.css";
/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";

body {
  font-family: "Outfit", sans-serif;
  margin-top: 22px;
  height: 200vh;
  color: var(--black);
}

.main-screen {
  padding: 0 var(--horizontal-padding);
}

input {
  font-family: "Outfit", sans-serif;
}
