:root {
  /*colors*/
  --yellow: #fae100;
  --red: tomato;
  --pink: #ff63c3;
  --black: #2e363e;
  --gray: #999;
  --very-light-gray: #fafafa;
  --light-gray: #e4e4e4;
  --semi-light-gray: #d5d5d5;
  /*sizes*/
  --horizontal-padding: 20px;
}
