#chatroom-body {
  padding-top: 82px;
  height: 300vh;
  padding-bottom: 0;
  background-color: var(--chatroom-color);
}

#chatroom-body .status-bar {
  background-color: var(--chatroom-color);
}

#chatroom-body .alt-header {
  background-color: var(--chatroom-color);
  position: fixed;
  z-index: 100;
  top: 22px;
  width: 100%;
}

.chatroom__timestamp {
  text-align: center;
  padding: 10px 0;
}

.chatroom__timestamp > * {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  border-radius: 14px;
  padding: 0 15px;
  font-size: 12px;
  color: var(--very-light-gray);
  background-color: var(--z-black);
}
