.main-screen.chatroom-screen {
  padding: 0 var(--chatroom-padding);
}
#chatroom-body {
  padding-top: 82px;
  height: 300vh;
  padding-bottom: 0;
  background-color: var(--chatroom-color);
}

#chatroom-body .status-bar {
  background-color: var(--chatroom-color);
}

#chatroom-body .alt-header {
  background-color: var(--chatroom-color);
  position: fixed;
  z-index: 100;
  top: 22px;
  width: 100%;
}

.chatroom__timestamp {
  text-align: center;
  padding: 10px 0;
}

.chatroom__timestamp > * {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  border-radius: 14px;
  padding: 0 15px;
  font-size: 12px;
  color: var(--very-light-gray);
  background-color: var(--z-black);
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row__pic {
  margin-right: 8px;
  width: 38px;
  height: 38px;
  overflow: hidden;
  border-radius: 40%;
}

.message-row__pic img {
  width: 38px;
  height: 38px;
  object-fit: cover;
}

.message-row__content {
  display: flex;
  flex-direction: column;
}
.message__author {
  font-size: 14px;
  display: block;
  color: var(--dark-gray);
}

.message__info__row {
  display: flex;
  align-items: flex-end;
}

.message-row--own .message__info__row {
  flex-direction: row-reverse;
}

.message__bubble {
  background-color: #fff;
  position: relative;
  display: block;
  padding: 9px 12px;
  margin-top: 8px;
  border-radius: 13px;
  max-width: 60vw;
  line-height: 1.2;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
}

.message__info__row:first-child .message__bubble {
  border-top-left-radius: 0;
}

.message-row--own .message__info__row:first-child .message__bubble {
  border-top-right-radius: 0;
  border-top-left-radius: 13px;
}

.message__status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 11px;
  margin: 0 5px;
}

.message__time {
  margin-top: 2px;
  color: var(--dark-gray);
}

.message__read {
  color: var(--yellow);
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--chatroom-padding);
}

.reply__column--add {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--gray);
  color: var(--gray);
  border-radius: 30%;
  width: 26px;
  height: 26px;
  margin-right: var(--chatroom-padding);
}

.reply__column--text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  width: calc(100% - (26px + var(--chatroom-padding)));
  border: 1px solid var(--light-gray);
  background-color: var(--very-light-gray);
  border-radius: 20px;
  overflow: hidden;
  padding: 0 3px;
}

.reply input[type="text"] {
  height: 100%;
  width: calc(100% - (37px + 10px + 23px + var(--chatroom-padding) + 5px));
  border: none;
  background-color: var(--very-light-gray);
}

.reply input[type="text"]::placeholder {
  color: var(--semi-light-gray);
}

.reply__emoticon {
  font-size: 23px;
  color: var(--gray);
  margin: 0 var(--chatroom-padding) 0 10px;
}

.reply__send {
  border: none;
  background-color: var(--yellow);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-size: 15px;
}
