body {
  position: relative;
}
.welcome-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin: 50px 0 170px 0;
  font-size: 25px;
  color: var(--magenta);
}

.welcome-header__text {
  width: 80%;
  line-height: 1.3;
}

#login-form {
  padding: 28px var(--horizontal-padding);
  display: flex;
  flex-direction: column;
}

#login-form input {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
  font-size: 16px;
  padding: 16px 0;
  transition: border-color 0.3s ease-in-out;
}

#login-form input:not([type="submit"]) {
  /* border-bottom: 1px solid #bbb; */
  padding: 16px 16px;
  transition: border-color 0.3s ease-in-out;
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input::placeholder {
  color: #999;
}

#login-form input[type="submit"] {
  margin: 38px 0 20px 0;
  background-color: var(--magenta);
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

.login-img {
  position: absolute;
  width: 100%;
  top: 80px;
  z-index: -10;
  text-align: center;
}

.login-img img {
  width: 80%;
}
