body {
  position: relative;
}
.welcome-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header em {
  font-weight: 600;
}

.welcome-header__title {
  margin: 50px 0 25px 0;
  font-size: 20px;
  color: var(--magenta);
}

.welcome-header__text {
  width: 80%;
  line-height: 1.3;
}

.login-img {
  height: 197px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.login-img img {
  width: 350px;
}

#login-form {
  padding: 0 var(--horizontal-padding);
  display: flex;
  flex-direction: column;
}

#login-form input {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
  font-size: 16px;
  padding: 16px 0;
  transition: border-color 0.3s ease-in-out;
}

#login-form input:not([type="submit"]) {
  border: 1px solid var(--yellow);
  padding: 16px 16px;
  transition: border-color 0.3s ease-in-out;
}

#login-form input:focus {
  border-color: var(--magenta);
}

#login-form input::placeholder {
  color: #999;
}

#login-form input[type="submit"] {
  margin: 38px 0 20px 0;
  background-color: var(--magenta);
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: #524a2b;
  font-size: 13px;
}

.img-own {
  padding: 0 var(--horizontal-padding);
  position: fixed;
  bottom: var(--horizontal-padding);
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: var(--gray);
}
