.nav {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  background-color: var(--very-light-gray);
  padding: 12px 50px;
  border-top: 1px solid #eee;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__btn {
  position: relative;
}

.nav__link {
  color: var(--gray);
}
.nav__link--selected {
  color: var(--black);
}
.nav__notification {
  position: absolute;
  left: 10px;
  top: -8px;
}

.nav__update {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: tomato;
  position: absolute;
  top: -1px;
  right: -3px;
}
