.status-bar {
  position: fixed;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  font-size: 12px;
  background-color: var(--magenta);
  color: #fff;
}

.status-bar__column {
  width: 33%;
}
.status-bar__column i {
  font-size: 12px;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-three-quarters {
  margin: 0 5px;
}
